<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC_PATH__/lib/html5.js"></script>
    <script type="text/javascript" src="__STATIC_PATH__/lib/respond.min.js"></script>
    <![endif]-->
    <link href="__STATIC_PATH__/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC_PATH__/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC_PATH__/h-ui.admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC_PATH__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <title>后台登录</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>
<body>
<div class="header">星期八-后台管理系统</div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <div class="login-error">aaa</div>
        <form id="myForm" class="form form-horizontal">
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input name="account" type="text" placeholder="账户" class="input-text size-L" required>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input id="" name="pwd" type="pwd" placeholder="密码" class="input-text size-L" required>
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input class="input-text size-L" name="captcha" type="text" placeholder="验证码" required style="width: 30%">
                    <img src="{{:url('admin.login.captcha')}}" id="captcha" alt="验证码">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input type="submit" class="btn btn-success radius size-L"
                           value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <input name="" type="reset" class="btn btn-default radius size-L"
                           value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright 星期八科技 by H-ui.admin.page.v3.0</div>

<script type="text/javascript" src="__STATIC_PATH__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC_PATH__/lib/layer/2.4/layer.js"></script>
<script>
  $(function () {
    // 验证码切换
    $('#captcha').click(function () {
      this.src = $(this).attr('src') + '?' + Math.random()
    })

    $('#myForm').submit(function () {
      $.ajax({
        type: "post",
        dataType: "json",
        url: "{{:url('admin.login.verify')}}",
        data: $(this).serialize(),
        beforeSend: function () {
          layer.load()
        },
        success: (res) => {
          layer.closeAll()
          if (res.errCode != 0) {
            $('.login-error').html(res.msg).show()
            return false
          }
          $('.login-error').hide()
          layer.msg(res.msg, {time: 1000})
          setTimeout(() => {
            location.href = '{{:url("admin.index")}}'
          }, 1000)
        },
        error: (res) => {
          layer.closeAll()
          layer.msg('请求失败')
          console.log(res)
        }
      })
      event.preventDefault()
    })

  })
</script>
</body>
</html>