<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block name="title"}}{{/block}}</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="__WAP_PATH__/hui/css/hui.css" />
    {{block name="head"}}{{/block}}
</head>
<body>
{{block name="content"}}{{/block}}
{{include file="public/_footer"}}
</body>
</html>
<script type="text/javascript" src="__WAP_PATH__/hui/js/hui.js"></script>
{{block name="foot"}}{{/block}}